<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionName="3.0">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="34"
        />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="34"
        />
    <application
        android:name=".SciProgCalculator"
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/calcphotoshopexpress"
        android:label="@string/app_name"
        android:roundIcon="@drawable/calcphotoshopexpress_round"
        android:theme="@style/Theme.SimpleCalculator"
        android:allowBackup="true"
        android:exported="true"
        android:hardwareAccelerated="true"
        android:installLocation="auto"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu"
        >
        <!--
        tools:ignore="UnusedAttribute"
        tools:remove="android:appComponentFactory"
        -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.SimpleCalculator.NoActionBar" />
        <activity
            android:name=".LicenceUserData"
            android:label="License text"
            android:exported="false" /> <!-- <a href="https://www.flaticon.com/free-icons/electronics" title="electronics icons">Electronics icons created by 88 Cloud - Flaticon</a> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Calculator Sci-Prog"
            android:theme="@style/Theme.SimpleCalculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>