<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionName="3.0">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/mobile"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mobile"
        android:theme="@style/Theme.SimpleCalculator"
        tools:targetApi="tiramisu">
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="true"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.SimpleCalculator.NoActionBar" />
        <activity
            android:name=".FormulaStore"
            android:exported="true"
            android:label="@string/title_activity_formula_store"
            android:theme="@style/Theme.SimpleCalculator" />
        <activity
            android:name=".LicenceUserData"
            android:exported="true" /> <!-- <a href="https://www.flaticon.com/free-icons/electronics" title="electronics icons">Electronics icons created by 88 Cloud - Flaticon</a> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Calculator Sci-Prog"
            android:theme="@style/Theme.SimpleCalculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>